* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #ededed;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.bigtext {
  font-size: 5.5vh;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
  color: black;
}

.clrtext {
  font-size: 16px;
  font-weight: 600;
  color: #db9602;
}

.usualtext {
  font-weight: 500;
  margin-top: 5px;
  font-size: 18px;
  color: #14213d;
}

.standardlink {
  color: black;
  text-decoration: none;
}
.standardlink:hover {
  color: black;
  text-decoration: none;
}
.standardlink:visited {
  text-decoration: none;
  color: black;
}
.standardlink:visited:hover {
  text-decoration: none;
  color: black;
}

@media screen and (min-height: 960px) {
  .bigtext {
    font-size: 50px;
  }
}
.popup {
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.99);
  transition: 1.5s;
  visibility: hidden;
  height: 0;
  z-index: 5;
}
.popup .lgo {
  position: fixed;
  left: 18px;
  top: 15px;
}
.popup .lgo h4 {
  font-size: 25px;
  font-weight: 600;
}
.popup .content {
  color: white;
  opacity: 0;
  transition: opacity 0.8s;
}
.popup a {
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
}
.popup a:hover {
  color: #fff;
}
.popup:target {
  visibility: visible;
  height: 100%;
}
.popup:target .content {
  opacity: 100%;
}

.menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  opacity: 0%;
  text-align: center;
}
.menu2 ul {
  margin-top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu2 li {
  font-size: 7vh;
  transition: 0.6s;
  margin-bottom: 0px;
}
.menu2 li a:hover {
  color: #bebebe;
  border-bottom: 0.1vw solid #db9602;
  transition-duration: 1s;
}

.popup .close {
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
}

.popup .close:hover {
  transition: transform 0.8s;
  transform: rotate(90deg) scale(1.3);
  transform-origin: center;
}

.primapagina {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav1 {
  height: 70px;
  z-index: 1;
}
.nav1 .cfd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav1 .brand {
  margin-top: 8px;
  margin-left: 15px;
}
.nav1 .brand .bigdisp {
  font-size: 25px;
  font-weight: 600;
}
.nav1 .rightnav {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 5px;
}
.nav1 .rightnav .navbarmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav1 .rightnav:hover .prova1 {
  transform: translatey(-5px) rotate(-180deg);
  transition-duration: 0.8s;
}
.nav1 .rightnav:hover .prova2 {
  transform: translatey(5px) rotate(-180deg);
  transition-duration: 0.8s;
}
.nav1 .rightnav:hover .prova3 {
  transform: rotate(360deg);
  transition-duration: 1.1s;
}
.nav1 .rightnav:hover h4 {
  transform: scale(0.94);
  transition-duration: 0.4s;
}
.nav1 .rightnav .ham {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 5px;
}
.nav1 .rightnav .ham .minus {
  margin-bottom: -32px;
}

.principale {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: 100%;
  height: 70%;
}
.principale h1 {
  font-size: 40px;
  line-height: 1em;
  margin-top: 0.15em;
  margin-bottom: 0.4em;
}
.principale h3 {
  color: #14213d;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25em;
}
.principale a {
  text-decoration: underline;
  color: #14213d;
  transition-duration: 0.2s;
  font-style: italic;
}
.principale a:hover {
  -webkit-text-decoration: underline #db9602;
          text-decoration: underline #db9602;
  color: black;
}
.principale a:visited {
  text-decoration: underline;
  color: #14213d;
}
.principale a:visited:hover {
  -webkit-text-decoration: underline #db9602;
          text-decoration: underline #db9602;
  color: black;
  font-size: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.right {
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.separa {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.separa img:hover {
  transform: scale(1.15);
  transition-duration: 0.4s;
}

.pics1 {
  max-width: 50vw;
  max-height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.secondaria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#projects {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.roww {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.el {
  width: 46%;
  height: 30vw;
  margin-bottom: 3%;
  margin-top: 3%;
  background-repeat: no-repeat;
  background-size: 101% 101%;
  border-radius: 22px;
  box-shadow: rgba(9, 9, 9, 0.4) 0px 3px 4px 3px;
}

.el1 {
  background-image: url("../images/firstbg.jpg");
  margin-left: 1vw;
}

.el2 {
  background-image: url("../images/jsprog.jpg");
  margin-right: 1vw;
}

.el3 {
  background-image: url("../images/xxx.jpg");
}

.el4 {
  background-image: url("../images/xxx.jpg");
}

.inside {
  visibility: hidden;
  color: black;
  background-color: rgba(10, 9, 9, 0.8);
  opacity: 0;
  width: 100%;
  height: 0%;
  transition: 0.5s;
  border-radius: 20px;
}
.inside h3 {
  font-size: 1.4vw;
  opacity: 0;
  transition: 0.4s;
  color: white;
  margin: 0.7em 6em 1em 15px;
}
.inside h6 {
  font-size: 1.5vw;
  opacity: 0;
  transition: 0.4s;
  color: #db9602;
  margin-left: 15px;
  padding-top: 12px;
}

.el:hover .inside {
  visibility: visible;
  height: 100%;
  opacity: 1;
}
.el:hover .inside h3, .el:hover .inside h6 {
  opacity: 1;
}

.terza {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.terza .kkx {
  display: none;
  width: 11.42vw;
  margin: auto;
  padding-bottom: 0;
}

.titolo3 {
  margin-top: -14vh;
  margin-left: 10vw;
  width: 80vw;
}

.progress1 {
  width: 80vw;
  margin-top: 14vh;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(110, 110, 110, 0.8) 0px 3px 6px 0px;
  border-radius: 10px;
}
.progress1 img {
  width: 8vh;
  z-index: 11;
}
.progress1 img:hover {
  transform: scale(1.2) translatex(-40%) translateY(-8%);
  transition-duration: 0.3s;
  cursor: pointer;
}

.barx {
  width: 11.42vw;
  height: 4vh;
  border: 2px solid #db9602;
  background-color: rgba(219, 150, 2, 0.1921568627);
}
.barx a {
  text-decoration: underline;
}
.barx a:hover {
  color: black;
  text-decoration: underline;
}
.barx a:visited {
  text-decoration: underline;
  color: black;
}
.barx a:visited:hover {
  text-decoration: underline;
  color: black;
}
.barx img {
  z-index: 2;
}

.espandibile {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(20, 33, 61, 0.7764705882);
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.espandibile h5 {
  color: #ededed;
  margin: 3%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.espandibile h5 strong {
  font-weight: 500;
  color: #db9602;
}
.espandibile h5 a:visited,
.espandibile h5 a:hover,
.espandibile h5 a:visited:hover,
.espandibile h5 a {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.bar1 {
  border-right: 2px solid #ededed;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  background-color: #db9602;
}
.bar1 .htmllogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar1 .espandibile1 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar1 #expand-togglexx:checked ~ * .espandibile1 {
  visibility: visible;
}
.bar1 #expand-togglexx {
  display: none;
}

.bar2 {
  position: relative;
  background-color: #db9602;
  border-left: 2px solid #ededed;
}
.bar2 .csslogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar2 .espandibile2 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar2 #expand-togglexx2:checked ~ * .espandibile2 {
  visibility: visible;
}
.bar2 #expand-togglexx2 {
  display: none;
}

.bar3 {
  position: relative;
}
.bar3 .javascriptlogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar3 .espandibile3 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar3 #expand-togglexx3:checked ~ * .espandibile3 {
  visibility: visible;
}
.bar3 #expand-togglexx3 {
  display: none;
}
.bar3 img {
  width: 7vh;
}

.bar4 {
  position: relative;
}
.bar4 .reactjslogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
  margin-bottom: -7px;
}
.bar4 .espandibile4 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar4 #expand-togglexx4:checked ~ * .espandibile4 {
  visibility: visible;
}
.bar4 #expand-togglexx4 {
  display: none;
}

.bar5 {
  position: relative;
}
.bar5 .nodejslogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar5 .espandibile5 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar5 #expand-togglexx5:checked ~ * .espandibile5 {
  visibility: visible;
}
.bar5 #expand-togglexx5 {
  display: none;
}

.bar6 {
  position: relative;
}
.bar6 .wordpresslogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar6 .espandibile6 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar6 #expand-togglexx6:checked ~ * .espandibile6 {
  visibility: visible;
}
.bar6 #expand-togglexx6 {
  display: none;
}

.bar7 {
  position: relative;
  border-right: 2px solid #db9602;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bar7 .stilogo {
  position: absolute;
  bottom: 4.5vh;
  left: 50%;
  transform: translatex(-50%);
}
.bar7 .espandibile7 {
  visibility: hidden;
  position: relative;
  top: 4vh;
}
.bar7 #expand-togglexx7:checked ~ * .espandibile7 {
  visibility: visible;
}
.bar7 #expand-togglexx7 {
  display: none;
}

.quarta {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.quarta h6, .quarta h1, .quarta h3 {
  margin-left: 10vw;
  margin-right: 10vw;
}
.quarta form {
  width: 100%;
}
.quarta fieldset {
  border: none;
  display: flex;
  justify-content: center;
}

.formz {
  margin-left: 10vw;
  width: 80vw;
  margin-top: 3vh;
}

.formstyle0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #14213d;
  border-radius: 15px;
  padding: 35px 10px;
  box-shadow: rgba(9, 9, 9, 0.4) 0px 3px 4px 3px;
}

.formstyle1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.formstyle1 #insname, .formstyle1 #insmail {
  color: #ededed;
  width: 18vw;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #444659;
}

input {
  font-size: 16px;
}

textarea:focus, input:focus {
  outline: none;
}

.formstyle2 {
  width: 88.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.txtarea {
  color: #ededed;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  width: 100%;
  height: 20vh;
  resize: none;
  border: none;
  border-radius: 8px;
  background-color: #444659;
  padding: 4px 8px;
}

.submitbtn {
  color: #14213d;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin-top: 28px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 20px;
  background-color: #ededed;
  padding: 10px;
}
.submitbtn:hover {
  background-color: #d1d1d1;
  transform: scale(1.05);
}

footer {
  color: #ededed;
  height: 30vh;
  background-color: rgb(6, 7, 20);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer h1 {
  font-size: 28px;
  font-weight: 600;
}
footer h3 {
  font-weight: 400;
  font-size: 16px;
}
footer .iconx {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 4px;
}
footer .iconx a:hover {
  transform: scale(1.1);
}
footer .ft0 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .ft0 .ft1 {
  display: flex;
  flex-direction: column;
}
footer .ft0 .ft1 a, footer .ft0 .ft1 a:hover, footer .ft0 .ft1 a:visited, footer .ft0 .ft1 a:visited:hover {
  color: #ededed;
}
footer .ft0 .ft2 {
  display: flex;
  flex-direction: column;
}
footer .ft0 .ft2 .linklist {
  padding-bottom: 10px;
}
footer .ft0 .ft2 li {
  display: inline;
  padding-right: 6px;
}
footer .ft0 .ft2 a, footer .ft0 .ft2 a:hover, footer .ft0 .ft2 a:visited, footer .ft0 .ft2 a:visited:hover {
  color: #ededed;
}

.smalldisp {
  display: none;
}

.roww2 {
  display: none;
}

#imm2 {
  display: none;
}

@media screen and (max-width: 1370px) {
  .titolo3 {
    margin-top: -2vh;
  }
  .progress1 {
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 2vh;
    box-shadow: none;
  }
  .progress1 img:hover {
    transform: scale(1.1) translatex(-45%) translateY(-5%);
  }
  .barx {
    width: 30%;
  }
  .barx img {
    max-width: 50px;
  }
  .bar3 {
    border-right: 2px solid #db9602;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bar4 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .bar6 {
    border-right: 2px solid #db9602;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bar7 {
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .reactjslogo {
    margin-top: -5px;
  }
  .kkx {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .right-nav {
    margin-right: -20px;
  }
  .popup {
    align-items: flex-start;
  }
  .popup .menu2 {
    padding-top: 12%;
  }
  .popup .close {
    position: absolute;
    top: 4vw;
    right: 4vw;
    width: 8vw;
  }
  .nav1 {
    height: 5vh;
  }
  .principale {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
  }
  .principale h1 {
    font-size: 4vw;
  }
  .principale h3 {
    font-size: 3vw;
  }
  .principale h6 {
    font-size: 2.6vw;
  }
  .right {
    width: 80%;
    margin-right: 0;
    margin-left: 0;
    z-index: 2;
  }
  .rightsm {
    padding-bottom: 40px;
    padding-top: 40px;
    height: 30%;
  }
  .left {
    width: 80%;
    margin-left: 0;
    margin-top: 20px;
    z-index: 3;
  }
  .leftsm {
    height: 45%;
  }
  .pics1 {
    max-height: 350px;
  }
  .secondaria {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
  }
  #projects {
    background-color: #f3f3f3;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 45px;
  }
  #projects .separa {
    display: none;
  }
  .grid {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .roww {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .el {
    width: 70vw;
    height: 65vw;
    margin-left: 0;
    margin-right: 0;
    box-shadow: rgba(9, 9, 9, 0.6) 0px 4px 12px;
  }
  .el1 {
    margin-bottom: 28px;
  }
  .inside h3 {
    margin-right: 4em;
    font-size: 3vw;
  }
  .inside h6 {
    font-size: 3vw;
  }
  .el:active .inside {
    visibility: visible;
    height: 100%;
    opacity: 1;
  }
  .el:active .inside h3, .el:active .inside h6 {
    opacity: 1;
  }
  .formstyle0 {
    width: 100%;
  }
  .formstyle0 #insname, .formstyle0 #insmail {
    width: 30vw;
  }
  footer {
    padding: 15px 10px;
  }
  footer h1 {
    font-size: 20px;
  }
  footer h3 {
    font-size: 13px;
  }
  footer li {
    font-size: 13px;
  }
  .terza h3 {
    display: none;
  }
  .terza .espandibile {
    display: none;
  }
  #imm1 {
    display: none;
  }
  #imm2 {
    display: block;
  }
  .roww2 {
    display: none;
  }
  .smalldisp {
    display: block;
  }
  .bigdisp {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) and (max-height: 640px) {
  .leftsm {
    margin: 0;
    padding: 0;
  }
  .rightsm {
    height: 30vh;
    background-image: none;
  }
}
@media screen and (max-width: 500px) {
  .principale h1 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0.4em;
  }
  .principale h3 {
    font-size: 18px;
  }
  .principale h6 {
    font-size: 15px;
    padding-top: 6px;
  }
  .principale .pics1 {
    min-width: 220px;
  }
  .left {
    width: 90vw;
  }
  .right {
    width: 90vw;
  }
  .rightsm {
    padding-bottom: 0;
  }
  .leftsm {
    margin-top: 10%;
  }
  .titolo3 {
    width: 90vw;
    margin-left: 5vw;
  }
  .progress1 {
    width: 90vw;
    margin-left: 5vw;
  }
  .formstyle1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formstyle1 #insname, .formstyle1 #insmail {
    width: 67vw;
  }
  .formstyle1 #insname {
    margin-bottom: 23px;
  }
  footer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .progress1 {
    margin-top: -2vh;
  }
  .espandibile h5 {
    font-size: 12px;
  }
  input, textarea {
    font-size: 13px;
  }
}
@media screen and (max-height: 650px) and (min-width: 768px) and (max-width: 1300px) {
  .principale h1 {
    font-size: 5vh;
    margin-bottom: 0.3em;
    margin-top: 0;
    padding: 0;
  }
  .principale h3 {
    font-size: 4.3vh;
    line-height: 1.2em;
  }
  .principale h6 {
    font-size: 3vh;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1400px) {
  .inside h3 {
    font-size: 18px;
  }
  .inside h6 {
    font-size: 18px;
  }
}