* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.corpo {
  background-color: #FbFbFb;
}

.nav1 {
  background-color: #FbFbFb;
  height: 70px;
}
.nav1 .mylogo {
  position: relative;
  left: 3px;
  top: 4px;
}