$colore2: #FbFbFb;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.corpo {
  background-color: $colore2;
}

.nav1 {
  background-color: $colore2;
  height: 70px;
  .mylogo {
    position: relative;
    left: 3px;
    top: 4px;
  }
}

