.barx {
  position: relative;
  width: 11.42vw;
  height: 4vh;
  border: 2px solid $colore3;
  background-color: #db960231;

  .logo {
    position: absolute;
    bottom: 4.5vh;
    left: 50%;
    transform: translatex(-50%);
  }
 
  a {
    text-decoration: underline;
    &:hover {
      color: black;
      text-decoration: underline; 
    }
    &:visited {
      text-decoration: underline;
      color: black;
    }
    &:visited:hover {
      text-decoration: underline ;
      color: black;
    }
  }
  img {
    z-index: 2;
  }  
}

.ext {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #14213dc6;
  width: 100%;
  height: max-content;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  visibility: hidden;
  position: relative;
  top: 4vh;

  h5 {
    color: $colore2;
    margin: 3%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    strong {
      font-weight: 500;
      color: $colore3;
    }
    a:visited,
    a:hover,
    a:visited:hover,
    a {
      text-decoration-color: white;
    }
  }
}

.bar1 {
  border-right: 2px solid $colore2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $colore3;

    #expand-togglexx:checked ~ * .ext {
      visibility: visible;
    }
    #expand-togglexx {
      display: none;
    }
}

.bar2 {
  background-color: $colore3;
  border-left: 2px solid $colore2;
  border-right: 2px solid $colore2;

   #expand-togglexx2:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx2 {
    display: none;
  } 
}
.bar3 {
  border-left: 2px solid $colore2;
  background-color: $colore3;
   #expand-togglexx3:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx3 {
    display: none;
  }
  img {
    width: 7vh;
  } 
}
.bar4 {

  .reactjslogo {
    margin-bottom: -7px;
  }
   #expand-togglexx4:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx4 {
    display: none;
  } 
}
.bar5 {

   #expand-togglexx5:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx5 {
    display: none;
  } 
}
.bar6 {

   #expand-togglexx6:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx6 {
    display: none;
  } 
}
.bar7 {
  border-right: 2px solid $colore3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

   #expand-togglexx7:checked ~ * .ext {
    visibility: visible;
  }
  #expand-togglexx7 {
    display: none;
  }
}