@media screen and (max-width: 500px) {
  .main {
    h1 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: .4em;
    }
    p {
      font-size: 18px;
    }
    h2 {
      font-size: 15px;
      padding-top: 6px;
    }
    
    .pics1 {
      min-width: 220px;
    }
  }
  
  .content {
    a {
      font-size: 45px;
    }
  }
  .left {
      width: 90vw;
    }
    .right {
      width: 90vw;
    }

  .rightSmall {
    padding-bottom: 0;
  }
  .leftSmall {
    margin-top: 10%;
  }

  .titolo3 {
    width: 90vw;
    margin-left: 5vw;
  }
  .progress1 {
    width: 90vw;
    margin-left: 5vw;
  }

  .formstyle1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #insname, #insmail {
      width: 67vw;
    }
    #insname {
      margin-bottom: 23px;
    }
  }

  footer {
    height: max-content;
    ul {
      display: flex;
      flex-direction: column;
    }
  }
  }